* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    height: 100vh;
    width: 100vw;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.lado-esquerdo {
    width: 50%;
    height: 100%;
  
    background: linear-gradient(135deg, #a100ffff, #ff71ce);
}

.lado-direito {
    width: 50%;
    height: 100%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-login {
    width: 60%;
    max-width: 400px;
}
h1 {
    font-size: 48px;
    margin-bottom: 50px;
    font-weight: 500;
}
.botao {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #999;
}
.botao input {
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px 40px;
    font-size: 16px;
    outline: none;
    color: #333;
}
.icone {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000;
}
.icone-olho {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}
button {
    width: 100%;
    padding: 15px;
    margin-top: 30px;
    border: none;
    border-radius: 50px;
    background-color: #657494;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background-color: #55637d;
}
a {
    display: block;
    text-align: right;
    margin-top: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}
